/************************************* General CSS Statement */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/************************************* Header */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline; 
    font-size: 48px;
    margin: 0;
    color: #d9dcd6; 
}

header nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul { 
    list-style-type: none;
}

header nav ul li { 
    display: inline;
    margin-left: 25px;
}


/************************************* Hero */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    float: left;
}


/************************************* Body General */
body {
    color: #d9dcd6; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Moved from header h1 */
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/************************************* Body Content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content div img {
    max-height: 200px;
}

.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/************************************* Benefits Side Bar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-title {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-title h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-title img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/************************************* Footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
